<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN"
        "HTMLFiles/xhtml-math11-f.dtd">

<!-- Created with the Wolfram Language : www.wolfram.com -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>
  HW0_TimThompson
 </title>
 <link href="HTMLFiles/HW0_TimThompson.css" rel="stylesheet" type="text/css" />
</head>

<body style="font-size: Floor[140. Inherited]%;">

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_1.gif" alt="HW0_TimThompson_1.gif" width="1239" height="257" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_2.gif" alt="HW0_TimThompson_2.gif" width="364" height="76" style="vertical-align:middle" />
</p>

<p class="Print">
 <img src="HTMLFiles/HW0_TimThompson_3.png" alt="HW0_TimThompson_3.png" width="37" height="20" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_4.gif" alt="HW0_TimThompson_4.gif" width="412" height="76" style="vertical-align:middle" />
</p>

<p class="Print">
 <img src="HTMLFiles/HW0_TimThompson_5.png" alt="HW0_TimThompson_5.png" width="59" height="20" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_6.gif" alt="HW0_TimThompson_6.gif" width="918" height="102" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_7.gif" alt="HW0_TimThompson_7.gif" width="624" height="308" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_8.gif" alt="HW0_TimThompson_8.gif" width="1227" height="231" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_9.gif" alt="HW0_TimThompson_9.gif" width="1062" height="49" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_10.gif" alt="Graphics: Log Plot of Data" width="504" height="338" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_11.png" alt="HW0_TimThompson_11.png" width="429" height="21" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_12.png" alt="HW0_TimThompson_12.png" width="512" height="21" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_13.png" alt="HW0_TimThompson_13.png" width="827" height="76" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_14.gif" alt="Graphics:Data and Exponetial Fit" width="504" height="345" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_15.gif" alt="HW0_TimThompson_15.gif" width="1245" height="211" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_16.gif" alt="HW0_TimThompson_16.gif" width="1380" height="49" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_17.png" alt="HW0_TimThompson_17.png" width="632" height="21" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_18.gif" alt="HW0_TimThompson_18.gif" width="481" height="68" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_19.png" alt="HW0_TimThompson_19.png" width="627" height="21" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_20.gif" alt="HW0_TimThompson_20.gif" width="481" height="68" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_21.png" alt="HW0_TimThompson_21.png" width="789" height="49" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_22.gif" alt="HW0_TimThompson_22.gif" width="504" height="268" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_23.gif" alt="HW0_TimThompson_23.gif" width="1237" height="241" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_24.png" alt="HW0_TimThompson_24.png" width="935" height="21" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_25.gif" alt="HW0_TimThompson_25.gif" width="681" height="480" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_26.gif" alt="HW0_TimThompson_26.gif" width="1245" height="385" style="vertical-align:middle" />
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_27.png" alt="HW0_TimThompson_27.png" width="742" height="49" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_28.gif" alt="HW0_TimThompson_28.gif" width="561" height="89" style="vertical-align:middle;" usemap="#map_28" />
<map name="map_28">
<area shape="rect" coords="291,86,517,64" title="Unless you store the data (5.6 MB), it will not be available when you quit the kernel." nohref="" />
</map>
</p>

<p class="Input">
 <img src="HTMLFiles/HW0_TimThompson_29.gif" alt="HW0_TimThompson_29.gif" width="278" height="49" style="vertical-align:middle" />
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_30.gif" alt="HW0_TimThompson_30.gif" width="483" height="89" style="vertical-align:middle;" usemap="#map_30" />
<map name="map_30">
<area shape="rect" coords="235,86,461,64" title="Unless you store the data (1.7 MB), it will not be available when you quit the kernel." nohref="" />
</map>
</p>

<p class="Output">
 <img src="HTMLFiles/HW0_TimThompson_31.gif" alt="HW0_TimThompson_31.gif" width="504" height="308" style="vertical-align:middle" />
</p>




<div style="font-family:Helvetica; font-size:11px; width:100%; border:1px none #999999; border-top-style:solid; padding-top:2px; margin-top:20px;">
 <a href="http://www.wolfram.com/language/" style="color:#000; text-decoration:none;">
  <span style="color:#555555">Created with the Wolfram Language</span> 
 </a>
</div>
</body>

</html>
